table tr th {
  background-color: #800000;
  color: #fff;
  font-weight:bold;
  font-size: 120%;
}
table tr td {
  font-size: 120%;
}
.center{
  text-align: center;
}
button {
  font-size: 110%;
  cursor: pointer;
}
